
{% if ms.is_open %} 
    {% if ms.repository.parent_repository %}
        <div class="panel panel-info">
    {% else %}
        <div class="panel panel-default">    
    {% endif %}
{% else %}
    <div class="panel panel-success">    
{% endif %}

 <div class="panel-heading">    
     {# <!-- START: DUE DATE LABEL --> #}
    {% if ms.due_on %}
            {% if SINGLE_COLUMN %}
                {% if ms.is_open %}
                <!-- due date w/ year --><span class="label label-default"><a href="{{ ms.get_view_open_issues_url }}" style="color:#fff;"><span class="glyphicon glyphicon-calendar"></span>&nbsp;{{ ms.due_on|date:"M j Y" }}</a></span>                
                {% else %}
                <!-- due date w/ year --><span class="label label-default"><a href="{{ ms.get_view_closed_issues_url }}" style="color:#fff;"><span class="glyphicon glyphicon-calendar"></span>&nbsp;<s>{{ ms.due_on|date:"M j Y" }}</s></a></span>
                {% endif %}
            {% else %}
                {% if ms.is_open %}
                <!-- due date --><span class="label label-default"><a href="{{ ms.get_view_open_issues_url }}" style="color:#fff;"><span class="glyphicon glyphicon-calendar"></span>&nbsp;{{ ms.due_on|date:"M j" }}</a></span>            
                {% else %}
                <!-- due date --><span class="label label-default"><a href="{{ ms.get_view_closed_issues_url }}" style="color:#fff;"><span class="glyphicon glyphicon-calendar"></span>&nbsp;<s>{{ ms.due_on|date:"M j" }}</s></a></span>                
                {% endif %}                
            {% endif %}        
    {% else %}
    
        <!-- no due date --><span class="label label-info">no due date</span>
    {% endif %}
    {# <!-- END: DUE DATE LABEL --> #}
    

    {# <!-- REPOSITORY LABEL --> #}
    {% if ms.repository.parent_repository %}
    <span class="label label-info"><a href="{{ ms.repository.get_github_view_url }}" style="color:#fff;" data-toggle="popover" title="{{ repo }}" data-content-target="#subrepo-desc-{{ ms.repository.id }}">{{ ms.repository }}</a></span>   
    {# <!-- hidden div with repository description.  shown when hovering over repo name--> #} 
    <div id="subrepo-desc-{{ ms.repository.id }}" class="hide">{{ ms.repository.description|linebreaksbr }}</div>
    {% else %}
    <span class="label label-info"><a href="{{ ms.repository.get_github_view_url }}" style="color:#fff;">{{ ms.repository }}</a></span>
    {% endif %}
    
    {# <!-- PRIVATE LABEL --> #}
    {% if ms.repository.is_private %}
    <span class="label label-warning"><a href="{{ ms.repository.get_github_view_url }}" style="color:#fff;">Private</a></span>
    {% endif %}

    {# <!-- START: TITLE --> #}
    {% if SINGLE_COLUMN %}

        <h4><a href="{{ ms.get_view_open_issues_url }}"{% if not ms.is_open %} style="color:#999;"{% endif %}>{{ ms.title }}</a></h4>

    {% else %}
        {% if ms.is_open %} 

        <h5><a href="{{ ms.get_view_open_issues_url }}" data-toggle="popover" title="{{ ms.title }}"  data-content-target="#ms-desc-{{ ms.id }}">{{ ms.title }}</a></h5>
        {% else %}
        <h5><a href="{{ ms.get_view_closed_issues_url }}" style="color:#999;" %}  data-toggle="popover" title="{{ ms.title }}"  data-content-target="#ms-desc-{{ ms.id }}">{{ ms.title }}</a></h5>
        
        {% endif %}
        <div id="ms-desc-{{ ms.id }}" class="hide">{% if ms.markdown_description %}{{ ms.markdown_description|safe }}{% else %}{% if ms.description %}{{ ms.description|safe|linebreaksbr }}{% endif %}{% endif %}</div>       
        
    {% endif %}
    {# <!-- END: TITLE --> #}
    
 </div>

<div class="panel-body">
    {# <!-- DESCRIPTION --> #}
    {% if not hide_description %}
        {% if ms.markdown_description %}
            {{ ms.markdown_description|safe }}
        {% else %}{% if ms.description %}
            {{ ms.description|linebreaksbr }}
        {% endif %}{% endif %}
    {% endif %}   
    
    {# <!-- ISSUE COUNTS W/ LINKS --> #} 
    {% if ms.is_open %}
        open issues: <a href="{{ ms.get_view_open_issues_url }}">{{ ms.open_issues }}</a><br />
        closed issues: <a href="{{ ms.get_view_closed_issues_url }}">{{ ms.closed_issues }}</a>
         {% if ms.days_remaining and ms.is_open %}
            <br />days remaining: 
                <b>{% if ms.days_remaining.days < 0 %}
                    overdue
                {% else %}
                    {{ ms.days_remaining.days }}
                {% endif %}
                </b>
          {% endif %}
    {% else %}
        closed issues: <a href="{{ ms.get_view_closed_issues_url }}">{{ ms.closed_issues }}</a>
    
        <hr /><span class="label label-success"><span style="color:#fff;" class="glyphicon glyphicon-ok-circle"></span> milestone complete</span> 
    {% endif %}
</div>
{% comment %}
{% if not ms.is_open %}
<div class="panel-footer panel-success">
    <span class="label label-success"><span style="color:#fff;" class="glyphicon glyphicon-ok-circle"></span> finished</span><br /> 
</div>
{% endif %}
{% endcomment %}
</div>