{% extends "base.html" %}
<!-- START: CONTENT -->{% block content %}

<div class="btn-group">
    {% if ALL_REPOS %}
        <a class="btn btn btn-primary" href="{% url 'view_by_columns' %}">All</a>
    {% else %}
    <a class="btn btn btn-default" href="{% url 'view_by_columns' %}">All</a>
    {% endif %}
    {% for r in repos %}
    {% if r == chosen_repository %}
        <a class="btn btn btn-primary" href="{% url 'view_single_repo_column' r.github_name %}">{{ r.github_name }}</a>
    {% else %}
         <a class="btn btn btn-default" href="{% url 'view_single_repo_column' r.github_name %}">{{ r.github_name }}</a>
    {% endif %}
    {% endfor %}
</div>

<div>
    <p><br />{{ milestone_count }}</b> open milestone{{ milestone_count|pluralize }} found.</p>
</div>



{% for ms in milestones %}
        {% include "milestones/milestone_description.html" %}
{% endfor %}
<!-- END: CONTENT -->{% endblock  %}
