{% extends "base.html" %}
<!-- START: CONTENT -->{% block content %}
<br /><br /><b>{{ milestone_count }}</b> open milestone{{ milestone_count|pluralize }} found.

<table class="table xtable-bordered table-condensed">
    <thead>
        <tr>
            <th>Month</th>
            {% for repo in sorted_repos %}
            <th><a href="{{ repo.get_github_view_url }}">{{ repo }}</a></th>
            {% endfor %}
        </tr>
    </thead>
    {% for org_month in organized_months %}
    <tr>
        {% for month_milestone_info in org_month %}
            {% if forloop.first %}
                <td>
                    <div>
                        {% if month_milestone_info.month == NO_DUE_DATE %}
                        <span class="label label-primary">no due date</span>
                    {% else %}
                        <span class="label label-primary">{{ month_milestone_info.month|date:"M Y" }}</span>
                    {% endif %}
                    </div>
                </td>
            {% endif %}
            <td width="33%">{% for ms in month_milestone_info.milestones %}
                    <div class="well well-sm">
                        {% if ms.due_on %}
                         <span class="label label-info">{{ ms.due_on|date:"M j" }}</span>
                        {% else %}
                         <span class="label label-info">no due date</span>
                        {% endif %}
                        <br /><a href="{{ ms. }}" xclass="btn btn-info btn-sm">{{ ms.title }}</a>
                        {% if ms.description %}
                            <p>{{ ms.description }}
                            <br />
                <br />open issues: <a href="{{ ms.get_view_open_issues_url }}">{{ ms.open_issues }}</a>
                <br />closed issues: <a href="{{ ms.get_view_closed_issues_url }}">{{ ms.closed_issues }}</a>
                            </p>
                        {% endif %}
                    </div>


                {% empty %}
                   &nbsp;
                {% endfor %}
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<!-- END: CONTENT -->{% endblock  %}
