{% extends "base.html" %}
<!-- START: CONTENT -->{% block content %}

<div class="btn-group">
    {% if ALL_REPOS %}
        <a class="btn btn btn-primary" href="{% url 'view_by_columns' %}">All</a>
    {% else %}
    <a class="btn btn btn-default" href="{% url 'view_by_columns' %}">All</a>
    {% endif %}
    {% for r in repos %}
    {% if r == chosen_repository %}
        <a class="btn btn btn-primary" href="{% url 'view_single_repo_column' r.github_name %}">{{ r.github_name }}</a>
    {% else %}
         <a class="btn btn btn-default" href="{% url 'view_single_repo_column' r.github_name %}">{{ r.github_name }}</a>
    {% endif %}
    {% endfor %}
</div>

<div>
    <p><br /><b>{{ milestone_count }}</b> open milestone{{ milestone_count|pluralize }} found.
        Issues: <b>{{ num_open_issues }}</b> open.  <b>{{ num_closed_issues }}</b> closed.
        {% if chosen_repository %}<br /><small><i>updated: {{ chosen_repository.last_retrieval_time }}</i></small>{% endif %}
    </p>

</div>



{% for ms in milestones %}
        {% include "milestones/milestone_description.html" %}
{% endfor %}
<!-- END: CONTENT -->{% endblock  %}
