{% extends "base.html" %}
<!-- START: CONTENT -->{% block content %}
<p>
    <b>{{ milestone_count }}</b> older milestone{{ milestone_count|pluralize }} found for <b>{{ chosen_year}}</b>.  View <a href="{% url 'view_by_columns' %}">current milestones</a>.
        {#Issues: <b>{{ num_open_issues }}</b> open.  <b>{{ num_closed_issues }}</b> closed.#}
        {% if last_retrieval_time %}<br /><small><i>updated: {{ last_retrieval_time }}</i></small>{% endif %}

</p>
<table class="table xtable-bordered table-condensed" id="mstone_table">
    <thead>
        <tr>
            <th style="font-weight:normal"><a href="{% url 'view_by_columns' %}">(current milestones)</a></th>
            {% for repo in sorted_repos %}
            {#<th><a href="{{ repo.get_github_view_url }}">{{ repo }}</a></td>#}
             <th><a class="btn btn-primary btn-default" href="{% url 'view_single_repo_column' repo.github_name %}">{{ repo }}</a></th>
            {#<th><a href="{% url 'view_single_repo_column' repo.github_name %}">{{ repo }}</a></th>#}
            {% endfor %}
        </tr>
    </thead>
    {% include "milestones/milestone_column_content.html" %}
</table>
<!-- END: CONTENT -->{% endblock  %}
