{% extends "base.html" %}
<!-- START: CONTENT -->{% block content %}
<b>{{ milestone_count }}</b> open milestone{{ milestone_count|pluralize }} found.

<table class="table xtable-bordered table-condensed">
    <thead>
        <tr>
            <th>&nbsp;</th>
            {% for repo in sorted_repos %}
            {#<th><a href="{{ repo.get_github_view_url }}">{{ repo }}</a></td>#}
             <th><a class="btn btn-primary btn-default" href="{% url 'view_single_repo_column' repo.github_name %}">{{ repo }}</a></th>
            {#<th><a href="{% url 'view_single_repo_column' repo.github_name %}">{{ repo }}</a></th>#}
            {% endfor %}
        </tr>
    </thead>
    {% for org_month in organized_months %}
    <tr>
        {% for month_milestone_info in org_month %}
            {% if forloop.first %}
                <td>
                    <div>
                        {% if month_milestone_info.month == NO_DUE_DATE %}
                        <span class="label label-primary">no due date</span>
                    {% else %}
                        {#<span class="label label-primary">{{ month_milestone_info.month|date:"M Y" }}</span>#}
                        <div class="alert alert-info" role="alert">{{ month_milestone_info.month|date:"M Y" }}</div>
                    {% endif %}
                    </div>
                </td>
            {% endif %}
            <td width="20%">{% for ms in month_milestone_info.milestones %}
                   {% if ms.repository.parent_repository %}
                     <div class="well well-sm" style="background-color:#edf3fe;">
                    {% else %}
                    <div class="well well-sm">

                    {% endif %}
                    {% include "milestones/ms_detail_duedate-private.html" %}

                    <br /><a href="{{ ms.get_view_open_issues_url }}">{{ ms.title }}</a>

                    {% include "milestones/milestone_description.html" %}

                </div>


                {% empty %}
                   &nbsp;
                {% endfor %}
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<!-- END: CONTENT -->{% endblock  %}
