{% extends "base.html" %}
<!-- START: CONTENT -->{% block content %}
<p>
    <b>{{ milestone_count }}</b> milestone{{ milestone_count|pluralize }} found.
        Issues: <b>{{ num_open_issues }}</b> open.  <b>{{ num_closed_issues }}</b> closed.
        {% if last_retrieval_time %}<br /><small><i>updated: {{ last_retrieval_time }}</i></small>{% endif %}

</p>
<table class="table xtable-bordered table-condensed">
    <thead>
        <tr>
            <th>&nbsp;</th>
            {% for repo in sorted_repos %}
            {#<th><a href="{{ repo.get_github_view_url }}">{{ repo }}</a></td>#}
             <th><a class="btn btn-primary btn-default" href="{% url 'view_single_repo_column' repo.github_name %}">{{ repo }}</a></th>
            {#<th><a href="{% url 'view_single_repo_column' repo.github_name %}">{{ repo }}</a></th>#}
            {% endfor %}
        </tr>
    </thead>
    {% for org_month in organized_months %}
    <tr>
        {% for month_milestone_info in org_month %}
            {% if forloop.first %}
                <td>
                    <div>
                        {% if month_milestone_info.month == NO_DUE_DATE %}
                        <span class="label label-primary">no due date</span>
                    {% else %}
                        {#<span class="label label-primary">{{ month_milestone_info.month|date:"M Y" }}</span>#}
                        <div class="alert alert-info" role="alert">{{ month_milestone_info.month|date:"M Y" }}</div>
                    {% endif %}
                    </div>
                </td>
            {% endif %}
            <td width="17%">{% for ms in month_milestone_info.milestones %}
                   {% include "milestones/milestone_description3.html" %}

                {% empty %}
                    {# --- NO REPO MILESTONES FOR THIS MONTH --- #}
                      <div class="well well-sm" style="background-color:#fff;color:#ccc;">
                          <small><i>No milestones this month</i></small>
                      </div>

                {% endfor %}
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<!-- END: CONTENT -->{% endblock  %}
