{% extends "base.html" %}
<!-- START: CONTENT -->{% block content %}

<div class="btn-group">
    {% if ALL_REPOS %}
        <a class="btn btn btn-primary" href="{% url 'view_by_columns' %}">All</a>
    {% else %}
    <a class="btn btn btn-default" href="{% url 'view_by_columns' %}">All</a>
    {% endif %}
    {% for r in repos %}
    {% if r == chosen_repository %}
        <a class="btn btn btn-primary" href="{% url 'view_single_repo_column' r.github_name %}">{{ r.github_name }}</a>
    {% else %}
         <a class="btn btn btn-default" href="{% url 'view_single_repo_column' r.github_name %}">{{ r.github_name }}</a>
    {% endif %}
    {% endfor %}
</div>

<div>
    <p><br />{{ milestone_count }}</b> open milestone{{ milestone_count|pluralize }} found.</p>
</div>



{% for ms in milestones %}
    {% if ms.repository.parent_repository %}
       <div class="well well-sm" xstyle="background-color:#edf3fe;">
    {% else %}
		<div class="well well-sm" xstyle="background-color:#f5f5f5;">
	{% endif %}
        {% include "milestones/ms_detail_duedate-private.html" %}

        <h4><a href="{{ ms.get_view_open_issues_url }}" xclass="btn btn-info btn-sm">{{ ms.title }}</a></h4>

        {% include "milestones/milestone_description.html" %}

       </div>
{% endfor %}
<!-- END: CONTENT -->{% endblock  %}
