<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}js/jquery-1.11.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/milestone_reader.js"></script>
    
    <style>
     
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- This file store project specific CSS -->
    <link href="{{ STATIC_URL }}css/milestone_reader.css" rel="stylesheet">

    <!-- Use this to quickly test CSS changes in a template,
        then move to milestone_reader.css -->
    {% block extra_css %}{% endblock %}
    <script>
        $( document ).ready(function() {
            link_popovers();
        });        
    </script>
  </head>

  <body>
    {% include "base_navbar.html" %}


    <div class="container">
   
        <h4>{{ page_title }}
   
          {% if is_milestone_history %}
            &nbsp; <span style="font-weight:normal; font-size:80%;"><a href="{% url 'view_by_columns' %}">(View upcoming milestones)</a></span>
            {% else %}{% if is_current_milestones_all %}
            
            &nbsp; <span style="font-weight:normal; font-size:80%;"><a href="{% url 'view_milestone_history' %}">(View previous milestones)</a></span>            
            {% endif %}{% endif %}
            
        </h4>
      {% block content %}
      <div class="well">
        <ul>
           {# <li><a href="{% url 'view_by_due_date' %}">by Due Date</a></li>#}
            <li><a href="{% url 'view_by_columns' %}">View Milestone Roadmap</a></li>
        </ul>
      </div>
      {% endblock %}
  </div> <!-- /container -->
      
      {% block footer %}


      <div class="fluid-container" style="background-color:#eee; color:#999; border-top:2px solid #ccc; padding:15px 0;">
          <div class="container">
              <div class="row">
                    <div class="col-md-12">  <a href="http://datascience.iq.harvard.edu">Data Science</a> at <a href="http://www.iq.harvard.edu/">The Institute for Quantitative and Social Science</a>
                     &nbsp;|&nbsp; <a href="https://github.com/IQSS/milestone-reader">code <img src="https://github.com/fluidicon.png" width="20" alt="github" /></a>
                      <br />Copyright &copy; {% now "Y" %} The President and Fellows of Harvard College
                      <br /><small>({% now "F jS, Y f:s a" %})</small>                     
                </div>
          </div>
      </div>
      {% endblock %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

    <!-- place project specific Javascript in this file -->
    <script src="{{ STATIC_URL }}js/milestone_reader.js"></script>

  </body>
</html>
